// Variables

$font-size: 1.6rem;
$base-spacing: 16px;
$max-width: 800px;
$primary-color: tomato;

// Imports
@import 'partials/setup';
@import 'partials/globals';
@import 'partials/header';
@import 'partials/actionForm';
@import 'partials/actionList';