// Variables

$font: 'Roboto', sans-serif;
$font-size: 1.6rem;
$base-spacing: 16px;
$base-spacing-rem: 1.6rem;
$max-width: 800px;
$primary-color: rgb(145, 84, 0);

// Imports
@import 'partials/setup';
@import 'partials/mixins';
@import 'partials/globals';
@import 'partials/header';
@import 'partials/actionForm';
@import 'partials/actionList';