/* Action Form Component */

#create-action {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    input {
        width: 100%;
    }
}

.input-group {
    margin-right: $base-spacing * 2;
    flex-grow: 1;
}