/* Action List Component */

.action-list {
    display: flex;
    flex-flow: row wrap;
    margin-left: $base-spacing/2 * -1;
    margin-right: $base-spacing/2 * -1;

    @media (max-width: 480px) {
        flex-flow: column nowrap;
    }
}

.action-card {
    @extend .card;
    flex-basis: 25%;
    flex-grow: 1;
    padding: $base-spacing-rem $base-spacing-rem $base-spacing-rem/4 $base-spacing-rem;
    margin: $base-spacing / 2;
    display: flex;
    flex-flow: column nowrap;

    h3 {
        margin: 0;
    }

    p {
        margin: $base-spacing-rem/2 0;
    }

    // Nested to overide p style
    .last-completed {
        margin-bottom: $base-spacing-rem;
    }

    // Nested to overide p style
    .action-instruction {
        text-transform: uppercase;
        font: {
            size: 1.1rem;
        }
        margin-top: auto;
    }

    &:hover {
        .action-instruction{
            color: $primary-color;
        }
    }

    @media (max-width: 600px) {
        flex-basis: 40%;
    }
}

.action-description {
    font: {
        weight: 300;
    }
}

.no-actions-instructions {
    &__container {
        @extend .action-list;
    }

    &__card {
        @extend .action-card;
        padding-bottom: $base-spacing-rem;
        &:hover {
            cursor: initial;
        }
    }

    &__text {
        margin: 1rem 0;
    }

    &__text--highlight {
        font-weight: 700;
        font-size: 1.2em;
    }

    &__list {
        text-align: left;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    &__list-item {
        text-decoration: initial;
    }
}