/* Action List Component */

.action-list {
    display: flex;
    flex-flow: row wrap;
    margin-left: $base-spacing * -1;
    margin-right: $base-spacing * -1;
}

.action-card {
    text-align: center;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    flex-basis: 25%;
    flex-grow: 1;
    padding: $base-spacing-rem;
    margin: $base-spacing / 2;

    h3 {
        margin: 0;
    }

    p {
        margin: $base-spacing-rem/2 0;
    }

    &:hover {
        cursor: pointer;
    }
}

.action-instruction {
    text-transform: uppercase;
    // text-align: center;
    position: relative;
    top: $base-spacing-rem;
}