/* GLOBALS */

html {
    font-size: 10px / 16px * 100%;
    height: 100%;
}

body {
    height: 100%;
    font: {
        size: $font-size;
        family: $font;
    }
}

#app {
    min-height: 100vh;
}

.app-wrapper {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

main {
    margin-top: 20px;
}

.main-loading {
    margin: 0;
    flex: 1 1 auto;
    display: flex;
}

a {
    text-decoration: none;
    color: $primary-color;
}

button {
    padding: $base-spacing/2 $base-spacing;
    color: white;
    background: $primary-color;
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    // Hover states for button
    // &:hover,
    // &:focus {
    //     color: $primary-color;
    //     background: white;
    //     border: 1px solid $primary-color;
    // }
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

h2 {
    font-size: 1.5 * 1.6rem;
}

h3 {
    font-size: 1.17 * 1.6rem;
}

h2,
h3 {
    font-weight: 700;
}

.card {
    position: relative;
    text-align: center;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);

    &:hover {
        cursor: pointer;
        
        .delete-control {
            opacity: 1;
        }
    }
}

.delete-control {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background: black;
    border-radius: 50%;
    font-size: 1rem;
    height: 2em;
    width: 2em;
    display: flex;
    // Hide by default
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    
    a {
        color: white;
        margin: auto;
    }

    @media (max-width: 768px) {
        opacity: 1;
    }
}

.text-accent {
    color: $primary-color;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 $base-spacing*2;
}