/* GLOBALS */

html {
    font-size: 10px / 16px * 100%;
}

body {
    font: {
        size: $font-size;
    }
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 $base-spacing;
}