/* HEADER */

header {
    z-index: 10;
}

.navbar {
    background: $primary-color;
    color: white;
    padding-top: 3px;
    box-shadow: 0px 2px 1px rgba(0,0,0, 0.5);
    position: relative;

    a {
        color: white;
    }

    h1 {
        margin: 0;
    }

    ul {
        list-style: none;
        margin: 0;
    }

    li {
        display: inline-block;
        padding-left: $base-spacing * 2;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media (max-width: 480px) {
        .wrapper {
            flex-flow: column nowrap;
        }

        .logo {
            align-self: flex-start;
        }

        ul {
            width: 100%;
            text-align: center;
            display: none;
        }

        ul.nav-active {
            display: block;
        }

        a {
            display: block;
        }

        li {
            display: block;
            padding: 0;
            width: 100%;
            margin: $base-spacing/2 0;
            line-height: 3;
            position: relative;

            &::after {
               display: block;
               content: '';
               height: 1px;
               width: 75%;
               background: rgba(255, 255, 255, 0.4); 
               position: absolute;
               bottom: -5px;
               left: 50%;
               transform: translateX(-50%);
            }

            &:last-child::after {
                display: none;
            }
        }
    }
}

.logo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 480px) {
        width: 100%;
    }
}

.site-title {
    @include fontLobster;
    font: {
        size: 4rem;
    }
}

.tagline {
    margin: 0.5rem 0 1.2rem;
    font: {
        size: 1.2rem;
        weight: 300;
    }
}

.nav-toggle {
    display: none;
    font-size: 20px;
    padding: 8px 8px 8px 16px;

    &:hover {
        cursor: pointer;
    }

    @media (max-width: 480px) {
        display: block;
    }
}