/* LOG */

.log-container {
    text-align: center;
}

.log-card {
    @extend .card;
    width: 400px;
    margin: 0 auto $base-spacing*2.5 auto;

    @media (max-width: 480px) {
        width: 100%;
    }
}

.log-timestamp {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(130%);
    margin: 0;
    font: {
        size: 1.4rem;
        weight: 300;
    }
}

.no-log-instructions {
    margin-top: 15vh;
    font-size: 1.1em;

    &__text--highlight {
        font-weight: 700;
    }
}